@font-face {
    font-family: "FetteUnzFraktur";
    src:
        local("FetteUnzFraktur"),
        url(../font/fette-unz-fraktur.ttf) format("truetype");
}

@font-face {
    font-family: "Cyberpunk";
    src:
        local("Cyberpunk"),
        url(../font/cyberpunk.ttf) format("truetype");
}

@property --translate-y {
    syntax: "<length> | <percentage>";
    inherits: false;
    initial-value: 0px;
}

@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

#root {
    margin: 0 auto;
    padding: 0;
}

@keyframes text-glitch-animation {
    10% {
        transform: skewX(-8deg);
    }
    20% {
        filter: blur(1px);
        transform: skewX(55deg);
        text-shadow: var(--text-shadow-chromatic-aberration-cmy-1);
    }
    30% {
        transform: skewX(-90deg);
    }
    40% {
        transform: skewX(20deg);
    }
    50% {
        filter: blur(1px);
        transform: skewX(-91deg);
        text-shadow: var(--text-shadow-chromatic-aberration-rgb-1);
    }
    60% {
        transform: skewX(3deg);
    }
    70% {
        transform: skewX(-2deg);
    }
    80% {
        text-shadow: var(--text-shadow-chromatic-aberration-cmy-2);
        transform: skewX(1deg);
    }
    90% {
        filter: blur(0px);
        transform: skewX(10deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes text-glitch-animation-periodic {
    0% {
        transform: skewX(24deg);
    }
    0.2% {
        transform: skewX(-8deg);
    }
    0.4% {
        transform: skewX(55deg);
        text-shadow:
            1px 1px rgba(246, 0, 153, 0.8),
            -1px -1px rgba(15, 210, 255, 0.8),
            -1px 0px rgba(255, 210, 0, 1);
    }
    0.6% {
        transform: skewX(-90deg);
    }
    0.8% {
        transform: skewX(29deg);
        filter: blur(1px);
    }
    1% {
        transform: skewX(-90deg);
        text-shadow:
            20px 7px 0px rgba(255, 76, 76, 0.8),
            -28px 0px 2px rgba(54, 91, 255, 0.8),
            22px -4px 0px rgba(255, 210, 0, 1);
    }
    1.2% {
        transform: skewX(3deg);
    }
    1.4% {
        transform: skewX(-2deg);
        text-shadow:
            -4px 1px rgba(246, 0, 153, 0.8),
            2px -1px rgba(15, 210, 255, 0.8),
            -3px 0px rgba(255, 210, 0, 1);
    }
    1.6% {
        transform: skewX(1deg);
    }
    1.8% {
        transform: skewX(10deg);
    }
    2% {
        filter: blur(0px);
        transform: skewX(0deg);
    }
    2.2% {
        transform: skewX(24deg);
    }
    2.4% {
        transform: skewX(-8deg);
    }
    2.6% {
        filter: blur(1.25px);
        transform: skewX(55deg);
        text-shadow:
            1px 1px rgba(246, 0, 153, 2.8),
            -1px -1px rgba(15, 210, 255, 2.8),
            -1px 0px rgba(255, 210, 0, 1);
    }
    2.8% {
        transform: skewX(91deg);
    }
    3% {
        transform: skewX(29deg);
    }
    3.2% {
        transform: skewX(0px);
        text-shadow:
            20px 7px rgba(255, 76, 76, 0.8),
            -8px 0px rgba(54, 91, 255, 0.8),
            22px -4px rgba(255, 210, 0, 1);
    }
    3.4% {
        transform: skewX(-91deg);
    }
    3.6% {
        transform: skewX(-2deg);
        text-shadow:
            -4px 1px rgba(246, 0, 153, 0.8),
            2px -1px rgba(15, 210, 255, 0.8),
            -3px 0px rgba(255, 210, 0, 1);
    }
    3.8% {
        filter: blur(0px);
        transform: skewX(1deg);
    }
    4% {
        transform: skewX(10deg);
    }
    4.2% {
        text-shadow: none;
        transform: skewX(0deg);
    }
    4.4% {
        filter: blur(1.25px);
        transform: skewX(-90deg);
        text-shadow:
            18px 8px 0px rgba(250, 96, 96, 0.8),
            -15px 0px 2px rgba(86, 213, 255, 0.8),
            20px -4px 2px rgb(198, 255, 112);
    }
    4.6% {
        transform: skewX(3deg);
    }
    4.8% {
        transform: skewX(-2deg);
        text-shadow:
            -4px 1px rgba(246, 0, 153, 0.8),
            2px -1px rgba(15, 210, 255, 0.8),
            -3px 0px rgba(255, 210, 0, 1);
    }
    5% {
        filter: blur(0px);
        transform: skewX(1deg);
    }
    5.2% {
        transform: skewX(10deg);
    }
    5.4% {
        text-shadow: none;
        transform: skewX(0deg);
    }
}

@keyframes glitch-tear-animation-periodic {
    0% {
        filter: blur(0px);
    }
    0.4% {
        filter: blur(0.5px) url(#glitch2)
            drop-shadow(21px 1px rgba(246, 0, 153, 0.8))
            drop-shadow(46px 9px rgba(15, 210, 255, 0.8))
            drop-shadow(-1px 0px rgba(255, 210, 0, 1));
    }
    0.8% {
        filter: blur(1px);
    }
    1% {
        filter: blur(0px) url(#glitch2)
            drop-shadow(20px 7px 0px rgba(255, 76, 76, 0.8))
            drop-shadow(-28px 0px 2px rgba(54, 91, 255, 0.8))
            drop-shadow(22px -4px 0px rgba(255, 210, 0, 1))
            grayscale(0)
            saturate(200%);
    }
    1.4% {
        filter: blur(0.5px) url(#glitch2)
            drop-shadow(-9px 6px rgba(246, 0, 153, 0.8))
            drop-shadow(2px -1px rgba(15, 210, 255, 0.8))
            drop-shadow(-3px 0px rgba(255, 210, 0, 1))
            grayscale(1)
            saturate(100%);
    }
    2% {
        filter: blur(0px);
    }
    2.6% {
        filter: blur(1px)
            drop-shadow(1px 1px rgba(246, 0, 153, 0.8))
            drop-shadow(-1px -1px rgba(15, 210, 255, 0.8))
            drop-shadow(-1px 0px rgba(255, 210, 0, 1));
    }
    2.8% {
        filter: blur(0px);
    }
    3.2% {
        filter: blur(1.25px) url(#glitch2)
            drop-shadow(-20px 7px 0px rgba(255, 76, 76, 0.8))
            drop-shadow(-8px 0px 2px rgba(54, 91, 255, 0.8))
            drop-shadow(32px 12px 0px rgba(255, 210, 0, 1))
            grayscale(0)
            saturate(200%);
    }
    3.6% {
        filter: blur(0.5px) url(#glitch2)
            drop-shadow(-4px 1px rgba(246, 0, 153, 0.8))
            drop-shadow(2px -1px rgba(15, 210, 255, 0.8))
            drop-shadow(-3px 0px rgba(255, 210, 0, 1));
    }
    3.8% {
        filter: blur(0px);
    }
    4.4% {
        filter: blur(1.25px) url(#glitch2)
            drop-shadow(18px 8px 0px rgba(250, 96, 96, 0.8))
            drop-shadow(-15px 6px 2px rgba(86, 213, 255, 0.8))
            drop-shadow(20px -4px 2px rgb(198, 255, 112))
            saturate(100%);
    }
    4.8% {
        filter: blur(0.5px) url(#glitch2)
            drop-shadow(-4px 1px rgba(246, 0, 153, 0.8))
            drop-shadow(2px -1px rgba(15, 210, 255, 0.8))
            drop-shadow(-13px 0px rgba(255, 210, 0, 1));
    }
    5% {
        filter: none;
    }
}

/*vendor select image stuff*/
@keyframes vendor-image-slide-in {
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}
.vendor-image {
    object-fit: cover;
    opacity: 0;
    transform: translate3d(200px, 0px, 0px);
}

.vendor-image-select-slide-in {
    transition:
        opacity 0.3s linear 0.2s,
        transform 0.5s var(--animation-slide) 0.2s;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    /* animation: vendor-image-slide-in 1s var(--animation-slide) forwards 0.2s; */
}
/*vendor select image stuff end*/

@keyframes selected-animation {
    to {
        --translate-y: 0px;
    }
}
@keyframes left-1-animation {
    to {
        --scale: 1.25;
        --translate-y: -64px;
    }
}
@keyframes left-2-animation {
    to {
        --translate-y: -128px;
    }
}
@keyframes left-3-animation {
    to {
        --translate-y: -192px;
    }
}
@keyframes right-1-animation {
    to {
        --scale: 1.25;
        --translate-y: 64px;
    }
}
@keyframes right-2-animation {
    to {
        --translate-y: 128px;
    }
}
@keyframes right-3-animation {
    to {
        --translate-y: 192px;
    }
}

/* fix this */
.x-items {
    > div > div {
        opacity: 0;
    }
    > div > div.selected {
        opacity: 1;
    }
    > div > div.left-1 {
        opacity: 0.35;
    }
    > div > div.left-2 {
        opacity: 0.15;
    }
    > div > div.left-3 {
        opacity: 0.05;
    }
    > div > div.right-1 {
        opacity: 0.35;
    }
    > div > div.right-2 {
        opacity: 0.15;
    }
    > div > div.right-3 {
        opacity: 0.05;
    }
}

.selected {
    --translate-y: 0px;
    transition: opacity 0.4s ease-out;
    transform: scale(1.75) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    opacity: 1;
    &.r {
        --translate-y: 64px;
        animation: selected-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -64px;
        animation: selected-animation 0.2s var(--animation-bounce) forwards;
    }
}

.animated-filter {
    will-change: filter;
}

.glitch-effect-filter {
    animation-composition: add;
    animation:
        glitch-tear-animation-periodic 9s infinite 0.2s,
        glitch-tear-animation-periodic 15s infinite 0.2s;
}

.text-glitch-effect {
    animation:
        text-glitch-animation 0.2s 0.2s 3,
        text-glitch-animation 0.5s 0.2s 1;
}

.text-glitch-effect-periodic {
    animation-composition: add;
    animation:
        text-glitch-animation-periodic 9s infinite 0.2s,
        text-glitch-animation-periodic 15s infinite 0.2s;
}

.left-1 {
    --scale: 1.25;
    --translate-y: -64px;
    transform: scale(var(--scale)) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    &.r {
        --scale: 1.75;
        --translate-y: 0px;
        animation: left-1-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --scale: 1;
        --translate-y: -128px;
        animation: left-1-animation 0.2s var(--animation-bounce) forwards;
    }
}

.left-2 {
    --translate-y: -128px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: -64px;
        animation: left-2-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -192px;
        animation: left-2-animation 0.2s var(--animation-bounce) forwards;
    }
}

.left-3 {
    --translate-y: -192px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: -128px;
        animation: left-3-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -256px;
        animation: left-3-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-1 {
    --scale: 1.25;
    --translate-y: 64px;
    transform: scale(var(--scale)) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    &.r {
        --scale: 1;
        --translate-y: 128px;
        animation: right-1-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --scale: 1.75;
        --translate-y: 0px;
        animation: right-1-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-2 {
    --translate-y: 128px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: 192px;
        animation: right-2-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: 64px;
        animation: right-2-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-3 {
    --translate-y: 192px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: 256px;
        animation: right-3-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: 128px;
        animation: right-3-animation 0.2s var(--animation-bounce) forwards;
    }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
